@charset "UTF-8";

	@font-face {
	  font-family: 'Pretendard';
	  src: url('/semi2_AcademicManage/fonts/Pretendard-Regular.woff2') format('woff2');
	  font-weight: normal;
	  font-style: normal;
	  font-display: swap;
	}

    *{
        font-family: 'Pretendard', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        position: relative;
        overflow-x: hidden;
        color: #333;
        word-break: keep-all;
		background-color: #E9ECF4;
    }

    header{
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-bottom: 1px solid #b8b8b8;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        align-items: center;
    }
    
	.all-title1 {
	  margin-top: 100px;
	  margin-left: 320px;
	  margin-bottom: 20px;
	  font-size: 15px;
	  color : #333333;
	}
	
	.all-title2 {
	  margin-top: 30px;
	  margin-left: 320px;
	  margin-bottom: 20px;
	  font-size: 15px;
	  color : #333333;
	}
	
	.all-section0 { 
		margin-left: 320px;
		display: flex;
		justify-content: center;
		padding: 20px;
		background-color: #CBD7FF;
		border-radius: 10px;
		width: calc(100% - 360px);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
		margin-bottom: 10px;
		border: 1px solid #567AF0;
		flex-wrap: wrap;
		box-sizing: border-box;
	}

    .all-section1 {
		margin-left: 320px; 
		background-color: #ffffff;
		padding: 20px 40px;
		border-radius: 10px;
		max-width: calc(100% - 360px);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
		max-height: 300px; /* 높이 설정 */
  		overflow-y: auto; /* 세로 스크롤 추가 */
	}
	
	.all-section2 {
		margin-left: 320px; 
		margin-bottom: 50px;
		background-color: #ffffff;
		padding: 8px 30px;
		border-radius: 10px;
		max-width: calc(100% - 360px);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
		max-height: 380px; /* 높이 설정 */
  		overflow-y: auto; /* 세로 스크롤 추가 */
  		overflow-x: hidden;
  		margin-bottom : 100px;
	}
    
    .container{
        width: 95%;
        height : 60px;
        margin: 0 auto;
        display: flex;
        align-items:center;
        justify-content: space-between;
        
    }

    .container h1 {
     	position: static;
        font-size:28px;
        font-weight : bold;
        text-decoration:none;
        margin:0;
    }
    
    .container h1 a{
        text-decoration:none;
        color:#567AF0;
    }
    
    .left-group {
	  display: flex;
	  align-items: center;
	  gap: 12px;
	}
	
	.left-group h1 {
		font-size: 28px;
		margin: 0;
		line-height: 1; /* 불필요한 높이 제거 */
	}

	/* 오른쪽: 로그인/회원가입 */
	.right-group {
	  display: flex;
	  align-items: center;
	  gap: 12px;
	}

    .user-group{
	  background: #567AF0;
	  color: #fff;
	  border-radius: 10px;
	  width: 80px;
	  height: 32px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
    }

    .user-group h4{
        margin:0;
        line-height: 32px;
        text-align:center; 
        color: #fff;
        font-size: 14px;
    }

    .id-group{
        display:flex;
        align-items:center;
        gap: 12px;
    }

    .id-group a{
        text-decoration:none;
        color:#333333;
        font-size:14px;
    }

    .id-group a:hover {
        color: #567AF0; 
    }

    /*nav 메뉴 영역*/

    #aside{
        width: 280px; 
        position: fixed;
        left: 0;
        top: 60px; /* 헤더 아래부터 시작 */
        bottom: 50px;; /* 푸터 위에서 끝 */
        background: #fff;
        border-right: 1px solid #b8b8b8;
        padding: 20px 15px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        z-index: 10; /* 푸터보다 아래에서 보이도록 지정함 */
        
    }
    #aside ul {
        list-style: none;
        margin-left: 15px;
        margin-top: 10px;
    }

    #aside ul li[class="subt"] {
        font-size: 16px;
        font-weight: bold;
        color: #333; 
        margin: 20px 0 10px 12px;
    }

    /*드라이브 별도 영역 */
    #aside ul.title-select li[class="subt-select"]{
        font-size: 16px;
        font-weight: bold;
        color: #333; 
        margin: 20px 0 10px 12px;
    }

    /*드라이브 별도 영역 - a태그 적용 */
    #aside ul.title-select li[class="subt-select"] > a {
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: #333;
        margin: 20px 0 10px -12px;
        border-radius: 5px;
    }
    
    /*드라이브 별도 영역 - 마우스호버 추가 */
    #aside ul.title-select li[class="subt-select"] > a:hover {
        color: #567AF0;
    }
 

    #aside ul li a {
        display: block;
        text-decoration: none;
        font-size: 15px;
        color: #333;
        padding: 6px 12px;
        border-radius: 5px;
    }

    #aside ul li a:hover {
        color: #567AF0;
    }


    #aside ul li a.active {
        color: #567AF0;
        font-weight: bold;
    }


    /*footer 영역*/
	footer{
        position: fixed;
        display : flex;
        align-items : center;
        justify-content: center; 
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        left: 0;
        z-index: 20; /* nav보다 위로 보이도록 지정함*/
        border-top: 1px solid #b8b8b8;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        color: #808080;
    }
